body {
  background-color: #0b3b3b;
  background-image: url("../src/img/manuallogo.png");
  background-size: 112px;
}

label {
  color: rgb(3, 78, 3);
  font-family: "Roboto";
  font-weight: 700;
}

h1 {
  color: #0b3b3b;
  ;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 54px;

}

.botoes {
  border: none;
  background-color: #0b3b3b;
  color: white;
  height: 37px;
}

.botoes:hover {
  border: 2px green;
  background-color: #b2bfa6
}

.message {
  height: 110px;
  resize: none;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(11, 101, 59);
  border-radius: 2%;
}

.logomanual {
  width: 100px;
}

.cardicone {
  margin-right: 80px !important;
  border-radius: 20px;
}